<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(product.price / 100) %>
  </p>
  <p>
      <strong> Sales count:</strong>
 <%= product.sales_count %>
  </p>
  <%= button_to "Buy now!", checkout_create_path, params: {id: product.id}, remote: true %>
</div>
